/build/
/release_build/
/sd_stage/
/tools/re/

/*.apk
/subwaysurfers_nx.elf
/subwaysurfers_nx.nacp
/subwaysurfers_nx_shoptest*.nro
/subwaysurfers_nx_stable_*.nro

*.log
*.csv
fatal.txt
__pycache__/
*.py[cod]
